#ceh tr:hover {background-color: #ddd;}

#ceh  th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: chocolate;
   color: white;
 }

 #ceh  td, #ceh  th {
   border: 1px solid #ddd;
   padding: 8px;
 }
 
 #ceh  tr:nth-child(even){background-color: #f2f2f2;}
 
 #ceh  tr:hover {background-color: #ddd;}