#jobapp tr:hover {background-color: #ddd;}

#jobapp th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: chocolate;
   color: white;
 }

 #jobapp td, #employer th {
   border: 1px solid #ddd;
   padding: 8px;
 }
 
 #jobapp tr:nth-child(even){background-color: #f2f2f2;}
 
 #jobapp tr:hover {background-color: #ddd;}