<div class="pt-5">  
    <div class="global-container">  
      <div class="card login-form">  
      <div class="card-body">  
          <h3 class="card-title text-center"> Employer Login </h3>  
          <div class="card-text">  
              <form loginemployer = "ngForm" #employerobj (ngSubmit)="employerLogin()">  
                  <div class="form-group">  
                      <label for="emailID"> Enter Email address </label>  
                      <input type="email" 
                      class="form-control form-control-sm" 
                      name="emailID"
                      [(ngModel)]="employer.emailID"
                      >  
                  </div>  
                  <div class="form-group">  
                      <label for="">Enter Password </label>  
                      <a href="#" style="float:right;font-size:12px;"> Forgot password? </a>  
                      <input type="password" 
                      class="form-control form-control-sm" 
                      name="pass"
                      [(ngModel)]="employer.pass"
    
                      >  
                  </div>  
                  <button type="submit" class="btn btn-primary btn-block"> Sign in </button>  
                    
                  <div class="sign-up">  
                      Don't have an account? <a href="employer-reg"> Create One </a>  
                  </div>  
              </form>  
          </div>  
      </div>  
  </div>  
  </div>  
  


